*{
	box-sizing: border-box
}
header{
	background-color: #060052; /*black*/
	color: #FFFFFF;
	width: 100%;
	height: 40px;
	text-align: center;
	padding: 2.5%;
	font-family: Roboto;
	font-weight: bold;
	font-size: 18px;
}
body{
	background-color: #F1F1F1;
	font-family: Roboto;
}
.grid-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 1.5%;
	grid-template-areas: 
	"visualisatie1 visualisatie1"
	"visualisatie2 visualisatie2"
	"visualisatie3 visualisatie3"
	"visualisatie4 visualisatie4"
	"visualisatie5 visualisatie5"
}
.visualisatie1{
	grid-area: visualisatie1;
	display: flex; /*flex opties toevoegen*/
	justify-content: center;
	margin-top: 5%;
}
.visualisatie2{
	grid-area: visualisatie2;
}
.visualisatie3{
	grid-area: visualisatie3;
	margin-bottom: 5%;
}
.visualisatie4{
	grid-area: visualisatie4;
}
.visualisatie5{
	grid-area: visualisatie5;
	margin-bottom: 5%;
}
div.grid-item{
	background-color: #FFFFFF;
	border: solid #AAAAAA 1px;
	border-radius: 20px;
	padding: 1em; /*misschien veranderen*/
	display: flex;
	justify-content: center;
}

/*flexbox code ipv grid*/
/*
.container{
	display: flex;
	flex-direction: column;
}
.box1, .box2, .box3, .box4, .box5{
	background-color: #FFFFFF;
	border: solid black 1px;
	border-radius: 25px;
	margin: 4%;
	padding: 1em;
}*//*
#donutchart{
	width: 90%;
}*/
#aside{
	display: none;
}

@media screen and (min-width: 500px){
	#dataChart1{
		min-width: 50%;
	}
	#header{
		/*display: none;*/
		font-size: 25px;
	}
	header{
		height: 60px;
	}/*
	#aside{
		display: inherit;
		background-color: #060052;
		grid-area: aside;
		min-width: 7em;
	}*/
	.grid-container{
		display: grid;
		grid-column-gap: 3%;
		grid-row-gap: 2%;
		grid-template-columns: 18em 1fr;
		grid-template-rows: 28% 1fr 1fr;
		grid-template-areas: 
		"visualisatie1 visualisatie1"
		"visualisatie2 visualisatie4"
		"visualisatie3 visualisatie5"
	}
	div.grid-item{

	}
	#donutchart{
		
	}
}/*maybe volgorde veranderen*/
@media screen and (min-width: 700px){
	div.grid-item{
		border: solid black 1px;
	}
	.grid-container{
		grid-template-columns: 5em 40% 40%;
		grid-template-rows: 35% 1fr 1fr;
		grid-template-areas: 
		"aside visualisatie1 visualisatie2"
		"aside visualisatie4 visualisatie3"
		"aside visualisatie5 visualisatie5"
	}
	#aside{
		display: inherit;
		background-color: #060052;
		grid-area: aside;
	}
	.visualisatie2{
		margin-top: 5%;
	}
	header{
		display: flex;
		justify-content: center;
		height: 50px;
		padding-top: 1%;
	}
}