header{
	background-color: #060052; /*black*/
	color: #FFFFFF;
	width: 100%;
	height: 40px;
	text-align: center;
	padding-top: 1em;
	font-family: Roboto;
	font-weight: bold;
	font-size: 18px;
}
body{
	background-color: #F1F1F1;
	font-family: Roboto;
}
.grid-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 4%;
	grid-template-areas: 
	"visualisatie1 visualisatie1"
	"visualisatie2 visualisatie2"
	"visualisatie3 visualisatie3"
	"visualisatie4 visualisatie4"
	"visualisatie5 visualisatie5"
}
.visualisatie1{
	grid-area: visualisatie1;
	display: flex; /*flex opties toevoegen*/
	justify-content: center;
	margin-top: 5%;
}
.visualisatie2{
	grid-area: visualisatie2;
}
.visualisatie3{
	grid-area: visualisatie3;
}
.visualisatie4{
	grid-area: visualisatie4;
}
.visualisatie5{
	grid-area: visualisatie5;
	margin-bottom: 5%;
}
div.grid-item{
	background-color: #FFFFFF;
	border: solid black 0.4px;
	border-radius: 25px;
	padding: 1em; /*misschien veranderen*/
}

/*flexbox code ipv grid*/
/*
.container{
	display: flex;
	flex-direction: column;
}
.box1, .box2, .box3, .box4, .box5{
	background-color: #FFFFFF;
	border: solid black 1px;
	border-radius: 25px;
	margin: 4%;
	padding: 1em;
}*/
#donutchart{
	width: 90%;
}

@media screen and (min-width: 500px){
	#dataChart1{
		max-width: 85%;
		max-height: 450px;
	}
}
